#main{
    width: 100%;
    height: 100vh;
    margin: auto;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.banner-image{
    width: 60%;
    position: absolute;
    margin: auto;
    left: 7%;
    margin-bottom: 7.5rem;
}

.banner-image img {
    width: 500px;
    margin: auto;
}

.banner-heading {
    position: absolute;
    margin:auto;
    right: 22%;
    margin-bottom: 13rem;
    display: block;
    top: 20%;
}

.banner-heading .korea{
    margin: 0;
}
.banner-heading .name{
    padding-top: 0.5rem;
    padding-bottom:  4rem;
    margin: 0;
}

@media screen and (max-width: 1600px) {
    .banner-image{
        left: 17%;
    }

    .banner-heading{
        right: 17%;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 1440px) {
    .banner-image{
        left: 3%;
    }

    .banner-heading{
        right: 15%;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 1280px) {
    .banner-image{
        left: 3%;
    }
    .banner-image img {
        width: 350px;
        margin: auto;
    }

    .banner-heading{
        top: 13%;
        right: 18%;
    }

    .banner-heading {
        font-size: 13px;
    }

    .banner-heading .name{
        padding-top: 0.5rem;
        padding-bottom:  2.5rem;
        margin: 0;
    }
    
}

@media screen and (max-width: 1200px) {
    .banner-heading{
        top: 16%;
        right: 18%;
    }

    .left{
        padding-left: 13rem;
    }
      
    .right{
        margin-left: 2rem;
    }
}

@media screen and (max-width: 480x){
    .banner-image{
        padding-left: 2rem;
    }
    .banner-image img {
        width: 350px;
        margin-left: 2rem;

    }
}

@media screen and (max-width: 1680px){
    .banner-heading{
       top: 23%;
       right: 17%;
    }

    .banner-image{
        left: 3%;
    }
}

@media screen and (max-width: 1600px) {
    .banner-image{
        left: 4%;
    }
    .banner-heading{
        top: 14%;
        right: 17%;
     }
    
}

@media screen and (max-width: 1366px){
    .banner-image{
        left: 3%;
    }
    .banner-image img {
        width: 380px;
    }

    .banner-heading {
        top: 11%;
        font-size: 14px;
    }
}